.App{
background-image: url('https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg');
background-repeat: repeat;
}


.grid-container{
    display:grid;
    grid-template-columns: 300px 50px 300px;
}
    .login-card{
      padding-top: 10%;
      padding-bottom: 20%;
      padding-left: 28%;
    }
